.authentication-container{
    display: flex;
    // gap: 4rem;
    // justify-content: space-evenly;
    // align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 30px auto;
}
